/* DASHBOARD */
div.menu {
    background: #A9A9A9;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #c4dce8;
    text-align: left;
}

div.menu a {
 padding:10px;
 color: black;
}

div.menu a:hover {
  color: black;
}

div.breadcrumbs {
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: black;
    text-align: left;
    background:#fff
}

div.breadcrumbs a{
  color: #036;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #E8E8E8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content1 a:hover {background-color: #c2bec0;}

.dropdown1:hover .dropdown-content1 {display: block;}

.dropdown1:hover .dropbtn1 {background-color: white;}

.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #E8E8E8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content2 a:hover {background-color: #c2bec0;}

.dropdown2:hover .dropdown-content2 {display: block;}

.dropdown2:hover .dropbtn2 {background-color: white;}



.dashboard .module table th {
    width: 100%;
}

.dashboard .module table td {
    white-space: nowrap;
}

.dashboard .module table td a {
    display: block;
    padding-right: .6em;
}

/* RECENT ACTIONS MODULE */

.module ul.actionlist {
    margin-left: 0;
}

ul.actionlist li {
    list-style-type: none;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.model-list-header {
	padding-top: 20px;
	font-size: 1.2em;
	color: brown;
}

/* NEW CSS */
.brand-container h1,
.brand-container h2,
.brand-container h3,
.brand-container h4 {
	font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: #2e354d;
    text-align: left;
    letter-spacing: 0;
    margin-bottom: 0.2em;
    /* border-bottom: 2px solid #272E46; */
    opacity: 1;
}

div.mini {
   max-width: 50em;
}

div.mini-child {
  /*display: inline-block;*/
  float: left;
  width: 20%;
  padding: 10px 20px;
  text-align: center;
}

div.mini-child .caption {
  font-family: Arial, Helvetica, sans-serif;;
  font-size: 1.5em;
  color: #2e354d;
}

.mini-child:hover {
  opacity: 0.3;
}

a img {
    border: none;
    max-width: 70%;
}

/*LOG FILE & System details*/
div.log {
    width: 90%;
}

div.container.wideflex {
  display: inline-block;
  justify-content: flex-start;
  /*flex-flow: wrap;*/
}

.flexitem {
	width: auto;
	margin-left: 20px;
	margin-right: 20px;
}

table.statistics {
    padding-top: 0px;
    padding-right: 0px;
    margin-top: 10px;
    margin-right: 50px;
}
table.statistics td, table.statistics th {
	font-family: Arial, Helvetica, sans-serif;;
	font-size: 1em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}
table.statistics th {
	font-weight: bold;
	border-bottom: none;
}
ul.statistics {
	padding-top: 0px;
	padding-right: 0px;
	margin-top: 10px;
	margin-right: 50px;
}
ul.statistics>li>span:first-child {
	width: 200px;
    display: inline-block;
    font-weight: bold;
}

.ident {
	padding-left: 30px;
}

div.container,
.item-container {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

.item-container {
  justify-content: start;
  align-items: baseline;
}

.select-lpad {
	margin-left: 20px;
}

input.buttons, button.buttons, label.buttons {
	font-family: Arial, Helvetica, sans-serif;;
	font-size: 1em;
	margin-left: 15px;
	padding: 0px 4px;
	border-radius: 4px;
	cursor: pointer;
}
label>input.buttons {
	margin-left: 0px;
}
.buttons:hover {background-color: lightgray;}

button.buttons img {
	vertical-align: middle;
}

pre.log {
	font-family: monospace;
    height: 70vh;
    width: 90vw;
    border: thin ridge #ccc;
    padding: 10px;
    overflow:auto;
	/* zebra effect trick */
	background: #efefef;
}

hr { border-top: 2px solid #272E46; }
hr.light { border-top: 1px solid #272E46; }
hr.important { border-top: 2px solid #ae122a; }
hr.light-important { border-top: 1px solid #ae122a; }

.color-neutral { background-color: lightgray; padding: 3px; }
.color-active { background-color: lightgreen; padding: 3px; }

